<div class="container" id="about">
  <div class="film">	
	<h1>About</h1>
	<p>The Smart Bet Charity Poker Tournaments were founded by a group of dedicated entrepreneurs who have been getting 
		together regularly since 2004 to network and discuss the entrepreneurial climate in the city of Chicago.</p>
	<h3>Smart Bet’s Mission</h3>
	<p>We started Smart Bet to give back to the community and set a mission to assist in urban education in 
		technology and entrepreneurship.  All proceeds from the event are donated to charities supporting our mission. 
		Because we want to give as much as possible to the charities, there are no prizes. But you will be immortalized 
		when your name goes on the Smart Bet winner's trophy.</p>
	<br>
	<a href="https://smartbet.weshareonline.org/" target="_blank" class="btn btn-success btn-lg">Register For Our Next Event</a>	
  </div>
</div>	

<style>
  footer {
  	position: fixed;
  	width: 100%;
  	bottom: 0;
  }
</style>
