<div class="container page" id="about">
  <div class="film">	
	<h1>About</h1><br>
	<p>The Smart Bet tech executives poker tournament raises funds to support Chicago non-profits that are inspiring the next generation of tech entrepreneurs. Since 2004, we have raised over $1 million for our partner charities.
    </p>
	<p>Funds raised from this event will benefit two organizations – <a href = "http://futurefounders.com/" target="_blank">Future Founders</a> and <a href="https://chitech.org/" target="_blank">Chicago Tech Academy</a> – in their work building the future of the tech industry in Chicago. It's a fun evening that brings the tech community together for a common goal that benefits kids, businesses and more. 
	</p>
	<p>The Smart Bet events are No Limit Texas Hold ‘Em poker tournaments. <b>Even if you have little to no experience playing Texas Hold’ Em, all players are welcomed and afforded the chance to learn how to play in our casual environment.</b> 
	</p>
	<p><a href="https://www.youtube.com/watch?v=KKMac6tQKiI" target="_blank">Here’s a 90-second tutorial about how to play Texas Hold ‘Em</a> – one of the easiest poker games to learn! 
	</p>
	<p>The best part of our events are the players. We are entrepreneurs and business leaders from Chicago’s tech scene. We use this event to see old friends and make new ones, connect on exciting Chicago tech developments, and to unwind and have a good time. 
	</p>
	<p>More information on the individuals who make-up the current executive committee and board found <a href="http://www.smartbet.org/contact">here</a>. Smart Bet is a 501(c)(3) Charitable Organization.	
  	</p>
  	<br>
  </div>
</div>	

<style>
  footer {
  	position: fixed;
  	width: 100%;
  	bottom: 0;
  }
</style>
