<div class="container page" id="charities">
  <div class="film">	
	<h1>Smart Bet Charities</h1>
	
	<h3><a href="http://futurefounders.com/" target="_blank">Future Founders - http://futurefounders.com/</a></h3>
	<p>The Future Founders Foundation inspires youth in Chicagoland to explore and practice entrepreneurship.  
		We offer programs to connect students with mentors from various professions and provide engaging project-based 
		learning experiences for students in elementary school through college.  From 2005-14, they served over 22,500 students.  
		This year, they are serving over 7,000 students at 50 schools.</p>
	
	<h3><a href="http://www.chitech.org/" target="_blank">Chicago Tech Academy High School - http://www.chitech.org/</a></h3>
	<p>Chicago Tech Academy (ChiTech), a non-profit, 4-year contract school located in University Village, was founded to inspire, 
		educate and connect the next generation of leaders. ChiTech also seeks to increase the number of minority and low income 
		students that pursue science, technology, engineering, and math (STEM) in college and careers.</p>
  </div>
</div>	

<style>
  footer {
  	position: fixed;
  	width: 100%;
  	bottom: 0;
  }
</style>