<div class="container" id="contact">
<h2>Smart Bet Organizing Committee</h2>	
<p>
Joe Jablonski - Endstor<br>
Chris Gladwin - Cleversafe<br>
Fred Hoch - Illinois Technology Association<br>
Terry Howerton - TechNexus<br>
Bart Loethen - Synergy Law Group<br>
Jim Dugan - OCA Ventures<br>
<a href="mailto:brendan@technexus.com">Brendan Karp - TechNexus</a>
</p>

<h2>Smart Bet Web Development</h2>
<p>
Matt Conway - ClassBug<br>
Jeano Verschave - Vaystays
</p>
</div>

<style>
  footer {
  	position: fixed;
  	width: 100%;
  	bottom: 0;
  }
</style>