<div class="container" id="contact">
<h2>Executive Committee</h2>	
<p>
Chairman - Joe Jablonski<br/>
Secretary &amp; Legal - Bart Loethen<br/>
Treasurer - Jim Dugan<br/>
Chairman Emeritus – Chris Gladwin<br/>
</p>

<h2>Board Members</h2>
<p>
Jeremie Bacon<br/>
Adam Caplan<br/>
Brian Crummy<br/>
Waverly Deutsch<br/>
Mike Evans<br/>
Chris Gladwin<br/>
Fred Hoch<br/>
Terry Howerton<br/>
Nik Rokop<br/>
Greg Rudin<br/>
Julia Stamberger<br/>
Chuck Templeton<br/>
</p>

<h2>Organizing Committee</h2>
<p>
Brendan Karp<br/>
Jeano VerSchave<br/>
Matt Conway<br/>
</p>

</div>

<style>
  footer {
  	position: fixed;
  	width: 100%;
  	bottom: 0;
  }
</style>
