<div class="container" id="contact">
  <div class="film">	
	<h2>Executive Committee</h2>	
	<p>
	Joe Jablonski - Chairman<br/>
	Bart Loethen - Secretary &amp; Legal<br/>
	Jim Dugan - Treasurer<br/>
	Chris Gladwin - Chairman Emeritus<br/>
	</p>
	
	<h2>Board Members</h2>
	<p>
	Jeremie Bacon<br/>
	Adam Caplan<br/>
	Matt Conway<br/>
	Brian Crummy<br/>
	Waverly Deutsch<br/>
	Mike Evans<br/>
	Chris Gladwin<br/>
	Fred Hoch<br/>
	Terry Howerton<br/>
	Brendan Karp<br/>
	Nik Rokop<br/>
	Greg Rudin<br/>
	Julia Stamberger<br/>
	Chuck Templeton<br/>
	Jeano VerSchave<br/>
	David Weinstein<br/>
	</p>
	
	<h2>Contact</h2>
	<p>
		Smartbet Charities c/o OCA Ventures<br>
		351 W. Hubbard St.<br>
		Suite 600<br>
		Chicago, IL 60654<br><br>
		jim@ocaventures.com 
	</p>	

  </div>
</div>

