<div class="container" id="results">
  <div class="film">	
	
	<h3>Spring 2015 Tourney - 5/21/15</h3>
	
	<h4>1st: Sean Fallon</h4>
	<h4>2nd: Jim Dugan</h4>
	<h4>3rd: Tim Haitaian</h4>
	<br>
	
	<h3>Winter 2015 Tourney - 2/26/15</h3>
	
	<h4>1st: Joe Jablonski</h4>
	<h4>2nd: Jimmy Bremer</h4>
	<h4>3rd: Matt Conway</h4>
	
	<br>
	<h3>Fall 2014 Tourney - 9/04/14</h3>
	
	<h4>1st: Nik Rokop</h4>
	<h4>2nd: John Roa</h4>
	<h4>3rd: John  Weinlader</h4>

  </div>
</div>

<style>
  footer {
  	
  }
</style>
